.navbar {
  background-color: #0d0d0d;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  border-bottom: 1px solid #2a2a2a;
}

.logo {
  color: #b47bff;
  font-weight: 700;
  font-size: 1.3rem;
}

.nav-links {
  display: flex;
  gap: 2rem;
  list-style: none;
}

.nav-links li {
  cursor: pointer;
  transition: color 0.3s;
}

.nav-links li:hover {
  color: #b47bff;
}
